<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Alterar </title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  
  <div class="container">
    <header>
      <h1><a href="/">Cadastro</a></h1>
      <ul>
        <li><a href="/"> Home </a></li>
        <li><a href="/cadastrar"> Cadastrar </a></li>
        <li><a href="/listar"> Listar </a></li>
      </ul>
    </header>

    <section class="form">
      <h2> Faça a alteração </h2>
      
      <form action="/alterar" method="POST" th:object="${usuario}">
      	<label for="nome"> Nome: </label>
	    <input type="hidden" id="id" name="id" th:field="${usuario.id}">
	      
	    <input type="text" id="nome" name="nome" class="inputLista" th:field="${usuario.nome}" placeholder="Informe o seu nome completo">
	
	    <label for="email"> E-mail: </label>
	    <input type="email" id="email" name="email" class="inputLista" th:field="${usuario.email}" placeholder="Informe o seu e-mail">
	
	    <label for="idade"> Idade: </label>
	    <input type="number" id="idade" name="idade" class="inputLista" th:field="${usuario.idade}" placeholder="Informe a sua idade">
	
	    <label for="senha"> Senha: </label>
	    <input type="text" id="senha" name="senha" class="inputLista" th:field="${usuario.senha}" placeholder="Informe a sua senha" maxlength="4">
	
	    <button type="submit"> Confirmar </button>
      </form>
    </section>
    
    <footer>
    	<p> @Copyright - 2022 </p>
    </footer>
  </div>

  <script src="/js/script.js"></script>
</body>
</html>